.medicine-card {
  margin: 2em;
  text-align: center;
}

#preco-card {
  padding: 0.5em;
  font-size: xx-large;
}

#preco-card span {
  color: rgb(189, 187, 187);
  font-size: large;
}

#medicamento-card {
  font-size: medium;
}

/* MODAL */
#modal-information {
  font-size: large;
}

#medicamento-modal {
  font-size: xx-large;
  padding: 5px;
}

#preco-modal {
  font-size: x-large;
  font-weight: bold;
  padding: 5px;
}

.modal-data {
  font-size: medium;
  text-align: start;
  padding: 5px;
  font-weight: bold;
}

.modal-data p {
  text-align: justify;
}

.modal-data span {
  font-weight: normal;
}