#form-medicine {
  background-color: var(--secondary-bg-color);
  padding: 2em;
}

#titulo-form-medicamentos {
  padding: 1em;
  text-align: center;
}

#body-form-medicine {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

