:root {
  --main-bg-color: #00963C;
  --secondary-bg-color: #F0F2F5;
  --main-text-color: #009739;
  --secondary-text-color: #FFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", system-ui, Helvetica, Arial, sans-serif;
}